<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosk App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}" />
</head>
<body>
    {% block content %}
    <div class="container">

    </div>
    {% endblock content %}
    {% block scrpt %}
    <script src="{{ url_for('static', path='/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock scrpt %}
</body>
</html>