<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}" />
</head>
<body>
    <div class="container" style="background-color: #e9e9e9;">
        {% if dt_info == 0 %}
        <br>
        <p>영양 정보 없음</p>
        {% else %}
            <div class="d-flex flex-column justify-content-center">
                <div class="flex-row m-3">
                    <button class="btn btn-info" onclick="location.href='/admin/add'">메뉴 추가</button>
                </div>
                <table class="table table-dark">
                    <tr>
                        <th scope="row">ID</th>
                        <th scope="row">메뉴명</th>
                        <th scope="row">1회 제공량</th>
                        <th scope="row">당류 (g)</th>
                        <th scope="row">단백질 (g)</th>
                        <th scope="row">나트륨 (mg)</th>
                        <th scope="row">포화지방 (g)</th>
                        <th scope="row">카페인 (mg)</th>
                        <th scope="row">분류</th>
                      </tr>
                      {% for info in dt_info %}
                      <tr>
                        <td>{{ info.menu_id }}</td>
                        <td><a href="/admin/edit/{{ info.menu_id }}">{{ info.menu_nm }}</a></td>
                        <td>{{ info.kcal_g }}</td>
                        <td>{{ info.sacch_g }}</td>
                        <td>{{ info.protein_g }}</td>
                        <td>{{ info.sodium_mg }}</td>
                        <td>{{ info.sat_fat_g }}</td>
                        <td>{{ info.caffeine_mg }}</td>
                        <td style="width: 80px;">{{ info.category }}</td>
                      </tr>
                      {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', path='/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>