<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main</title>
    <link rel="stylesheet" href="{{ url_for ('static', path='/css/bootstrap.min.css') }}" />
  </head>
  <body>
    <div id="container">
      <header>
        <img src="{{url_for ('static', path='/img_placeholder.png') }}" alt="logo_images" />
      </header>

      <footer>
        <button type="button" class="btn btn-secondary" onclick="location.href='/menu'">매장</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='/menu'">포장</button>
      </footer>
    </div>
    <script src="{{ url_for('static', path='/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
