<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}" />
    <style>
      body {
        background-image: url("{{ url_for('static', path='/img/bg.jpg') }}");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <footer>
          <div class="fixed-bottom d-flex justify-content-center">
            <button type="button" class="btn btn-secondary flex-fill" onclick="location.href='/menu'" style="font-size: 128px;">먹고가기</button>
            <button type="button" class="btn btn-secondary flex-fill" onclick="location.href='/menu'" style="font-size: 128px;">포장하기</button>
          </div>
      </footer>

    </div>
    
    <script src="{{ url_for('static', path='/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
