<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menu</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}" />
  </head>
  <body>
    <div class="container" style="background-color: #e9e9e9;">

      <header class="mb-4 pt-3 pb-4">
        <!-- 페이지 상단 카테고리 -->
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" onclick="location.href='/'"><img src="{{ url_for('static', path='/img/home_btn.png') }}" alt="Home" class="w-25 h-auto" />처음으로</button>
          <ul class="nav nav-pills" id="pills-tab" role="tablist" style="background-color: white;">
            <li class="nav-item" role="presentation">
              <a href="javascript:void(0)" class="nav-link active" id="pills-coffee-tab" data-toggle="pill" data-target="#pills-coffee" role="tab" aria-controls="pills-coffee" aria-selected="true">커피</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:void(0)" class="nav-link" id="pills-tea-tab" data-toggle="pill" data-target="#pills-tea" role="tab" aria-controls="pills-tea" aria-selected="false">차</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:void(0)" class="nav-link" id="pills-drink-tab" data-toggle="pill" data-target="#pills-drink" role="tab" aria-controls="pills-drink" aria-selected="false">음료</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:void(0)" class="nav-link" id="pills-dessert-tab" data-toggle="pill" data-target="#pills-dessert" role="tab" aria-controls="pills-dessert" aria-selected="false">디저트</a>
            </li>
          </ul>
          <div class="w-auto px-5"><!-- placeholder --></div>
        </div>
        <!-- 페이지 상단 카테고리 끝 -->
      </header>

      <!-- 메뉴 리스트 -->
      <div class="tab-content" id="pills-tabContent">

        <!-- 커피 탭 -->
        <div class="tab-pane fade show active" id="pills-coffee" role="tabpanel" aria-labelledby="pills-coffee-tab">
          <div class="row row-cols-md-4 px-5">
            {% for coffee in dt_coffee %}
              <div class="card text-center" style="width: 18rem;">
                {% if (coffee.menu_id|string) in img_nm_list %}
                <img src="{{ url_for('static', path=('img/' ~ coffee.menu_id ~ '.jpg')) }}" alt="{{ coffee.menu_nm }}" class="w-75 h-auto m-auto" />
                {% else %}
                  <img src="{{ url_for('static', path='img/coffee_placeholder_1.jpg') }}" alt="image_coffee" class="w-75 h-auto m-auto" />
                {% endif %}
                <div class="card-body px-5">
                  {% if (coffee.menu_nm|length) >= 13 %}
                    <p class="card-text" style="font-size: 14px;">{{ coffee.menu_nm }}</p>
                  {% else %}
                  <p class="card-text">{{ coffee.menu_nm }}</p>
                  {% endif %}
                  <a href="/info/{{ coffee.menu_id }}" class="btn btn-block btn-danger">주문하기</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- 커피 탭 끝 -->

        <!-- 차 탭 -->
        <div class="tab-pane fade" id="pills-tea" role="tabpanel" aria-labelledby="pills-tea-tab">
          <div class="row row-cols-md-4 px-5">
            {% for tea in dt_tea %}
              <div class="card text-center" style="width: 18rem;">
                {% if (tea.menu_id|string) in img_nm_list %}
                  <img src="{{ url_for('static', path=('img/' ~ tea.menu_id ~ '.jpg')) }}" alt="{{ tea.menu_nm }}" class="w-75 h-auto m-auto" />
                {% else %}
                  <img src="{{ url_for('static', path='img/tea_placeholder.jpg') }}" alt="image_tea" class="w-75 h-auto m-auto" />
                {% endif %}
                <div class="card-body px-5">
                  {% if (tea.menu_nm|length) >= 13 %}
                    <p class="card-text" style="font-size: 14px;">{{ tea.menu_nm }}</p>
                  {% else %}
                    <p class="card-text">{{ tea.menu_nm }}</p>
                  {% endif %}
                  <a href="/info/{{ tea.menu_id }}" class="btn btn-block btn-danger">주문하기</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- 차 탭 끝 -->

        <!-- 음료 탭 -->
        <div class="tab-pane fade" id="pills-drink" role="tabpanel" aria-labelledby="pills-tea-tab">
          <div class="row row-cols-md-4 px-5">
            {% for drink in dt_drink %}
              <div class="card text-center" style="width: 18rem;">
                  {% if (drink.menu_id|string) in img_nm_list %}
                    <img src="{{ url_for('static', path=('img/' ~ drink.menu_id ~ '.jpg')) }}" alt="{{ drink.menu_nm }}" class="w-75 h-auto m-auto" />
                  {% else %}
                    <img src="{{ url_for('static', path='img/drink_placeholder.jpg') }}" alt="image_drink" class="w-75 h-auto m-auto" />
                  {% endif %}
                <div class="card-body px-5">
                  {% if (drink.menu_nm|length) >= 13 %}
                    <p class="card-text" style="font-size: 14px;">{{ drink.menu_nm }}</p>
                  {% else %}
                    <p class="card-text">{{ drink.menu_nm }}</p>
                  {% endif %}
                  <a href="/info/{{ drink.menu_id }}" class="btn btn-block btn-danger">주문하기</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- 음료 탭 끝 -->

        <!-- 디저트 탭 -->
        <div class="tab-pane fade" id="pills-dessert" role="tabpanel" aria-labelledby="pills-dessert-tab">
          <div class="row row-cols-md-4 px-5">
            {% for dessert in dt_dessert %}
              <div class="card text-center" style="width: 18rem;">
                  {% if (dessert.menu_id|string) in img_nm_list %}
                    <img src="{{ url_for('static', path=('img/' ~ dessert.menu_id ~ '.jpg')) }}" alt="{{ dessert.menu_nm }}" class="w-75 h-auto m-auto" />
                  {% else %}
                    <img src="{{ url_for('static', path='img/dessert_placeholder.jpg') }}" alt="image_dessert" class="w-75 h-auto m-auto" />
                  {% endif %}
                <div class="card-body px-5">
                  {% if (dessert.menu_nm|length) >= 13 %}
                    <p class="card-text" style="font-size: 14px;">{{ dessert.menu_nm }}</p>
                  {% else %}
                    <p class="card-text">{{ dessert.menu_nm }}</p>
                  {% endif %}
                  <a href="/info/{{ dessert.menu_id }}" class="btn btn-block btn-danger">주문하기</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- 디저트 탭 끝 -->

      </div>
      <!-- 메뉴 리스트 끝 -->
 
      <!-- 페이지 최하단 -->
      <footer class="mt-5 pt-5">
        <div class="d-flex flex-row justify-content-between align-items-center" style="background-color: #e0e0e0;">
          <table class="table">
            <thead class="text-center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">상품명</th>
                <th scope="col">가격</th>
              </tr>
              {% for item in cart_list %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item }}</td>
                <td><!-- placeholder --></td>
              </tr>
              {% endfor %}
            </thead>
          </table>
          <table class="table table-borderless text-center">
            <tr>
              <td id="num-count" style="font-size: 32px; color: darkcyan;">{{ (cart_list|length) }}</td>
              <td id="num-total" style="font-size: 32px; color: salmon;">0</td>
            </tr>
            <tr>
              <th scope="col" style="font-size: 24px;">주문수량</th>
              <th scope="col" style="font-size: 24px;">합계금액</th>
            </tr>
          </table>

          <div role="group" class="btn-group flex-row ml-5 mr-2 my-4 pb-3">
            <button type="button" class="btn btn-danger mx-1 px-4" id="list-clear" onclick="location.href='#num-count'">목록지우기</button>
            <button type="button" class="btn btn-info mx-1 px-4" data-toggle="modal" data-target="#modalCard">카드결제</button>
            <button type="button" class="btn btn-primary mx-1 px-4" data-toggle="modal" data-target="#modalCredits">현금결제</button>
          </div>
        </div>
      </footer>
      <!-- 페이지 최하단 끝 -->

      <!-- 카드 결제 모달 -->
      <div class="modal fade" id="modalCard" tabindex="-1" aria-labelledby="modal_card" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal_card">카드 결제</h5>
            </div>
            <div class="modal-body">
              <img src="{{ url_for('static', path='/img/ico_card.png') }}" alt="icon_credit" class="mx-auto d-block" />
              <p style="text-align: center; font-size: 32px;">카드를 투입구에 넣어주세요</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 카드 결제 모달 끝 -->

      <!-- 현금 결제 모달 -->
      <div class="modal fade" id="modalCredits" tabindex="-1" aria-labelledby="modal_credit" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal_credit">현금 결제</h5>
            </div>
            <div class="modal-body">
              <img src="{{ url_for('static', path='/img/ico_credit.png') }}" alt="icon_credit" class="mx-auto d-block m-5 p-5" />
              <p style="text-align: center; font-size: 32px;">현금을 투입구에 넣어주세요</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 현금 결제 모달 끝 -->

    </div> <!-- 컨테이너 div -->

    <!-- 장바구니 리스트 제거 스크립트 -->
    <script src="{{ url_for('static', path='/js/cart.js') }}"></script>
    <!-- 장바구니 리스트 제거 스크립트 끝 -->
    
    <script src="{{ url_for('static', path='/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
