<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menu</title>
    <link rel="stylesheet" href="{{ url_for ('static', path='css/bootstrap.min.css') }}" />
  </head>
  <body>
    <div id="container">
      <header>
        <button type="button" class="btn btn-secondary" onclick="location.href='/'"><img src="{{ url_for('static', path='home_btn.png') }}" alt="Home" />처음으로</button>
        <ul>
          <li>커피</li>
          <li>티 & 에이드</li>
          <li>디저트</li>
        </ul>
      </header>

      <footer>
        <hr />
        <p>주문수량</p>
        <p>합계금액</p>
        <button  type="button" class="btn btn-danger" onclick="location.href='#'">목록지우기</button>
        <button  type="button" class="btn btn-info" onclick="location.href='#'">카드결제</button>
        <button  type="button" class="btn btn-primary" onclick="location.href='#'">현금결제</button>
      </footer>
    </div>
    <script src="{{ url_for('static', path='js/jquery-3.6.0.slim.min.js')}}"></script>
    <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js')}}"></script>
  </body>
</html>
