<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>notice</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}" />
  </head>
  <body>
    <div class="container px-0" style="background-color: #e6e6e6;">
      <header>
        <div class="d-flex flex-row align-items-center  mb-3 p-2" style="background-color: #ff914d;">
          <img src="{{ url_for('static', path='/img/info_mark.png')}}" alt="Infomation" />
          <p class="mx-2 mb-1" style="font-size: 32px; color: #e24242;">경고</p>
        </div>
      </header>
      <div class="d-flex justify-content-center align-item-center" style="font-size: 35px;">
        <p class="p-2">
          해당 원두에는 아주 극소량의 <strong style="color: red;">발암물질</strong>이 들어있으나 식약처 인증기준에 적합한 수준이므로 음용하시는 데에는 전혀 문제가 없습니다. 그럼에도 불구하고 불안하신 고객님께서는 주문을 취소하여 주시면 감사하겠습니다.
        </p>
      </div>
      <div class="d-flex flex-row">
        <img src="{{ url_for('static', path='/img/coffee_placeholder_1.jpg')}}" alt="placeholder" class="w-50 pl-4" />
        <div class="align-self-center m-4">
          <table class="table table-bordered table-dark h-75" style="font-size: 22px; text-align: center;">
            <tr>
              <th scope="col">1회 제공량 (kcal)</th>
              <th scope="col">당류 (g)</th>
              <th scope="col">단백질 (g)</th>
              <th scope="col">나트륨 (mg)</th>
              <th scope="col">포화지방 (g)</th>
              <th scope="col">카페인 (mg)</th>
            </tr>
            <tr style="font-size: 32px;">
              <td>{{ crn_info.kcal_g }}</td>
              <td>{{ crn_info.sacch_g }}</td>
              <td>{{ crn_info.protein_g }}</td>
              <td>{{ crn_info.sodium_mg }}</td>
              <td>{{ crn_info.sat_fat_g }}</td>
              <td>{{ crn_info.caffeine_mg }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="d-flex flex-column p-3">
        <a href="javascript:void(0)" onclick="location.href='/cart/add/{{ crn_info.menu_nm }}'" class="btn btn-block btn-danger" style="font-size: 55px;">계속 진행 ▷</a>
        <button type="button" class="btn btn-block btn-primary pb-2" onclick="location.href='/menu'" style="font-size: 55px;">취소</button>
      </div>
    </div>
    <script src="{{ url_for('static', path='/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
